.hero {
    background-color: #171729;
    font-family: 'Poppins';
    color: #fff;
}



.hero .container-fluid {
    padding: 5% 10%;
}

.hero h1 {
font-weight: 900;
line-height: 2;
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
}
.hero h5 {
    font-weight: 600;
}

.hero h6 {
    font-weight: 700;
    line-height: 3;

}
.hero .container-fluid {
    padding: 5% 10%;

}
.hero .btn {
    background: teal;
    border:teal;
    border-radius: 30px;
    width: 40%;
    margin-top: 25px;
    margin-right: 25px;
}

@media screen and (max-width:620px) {
    .hero {
  
        height: 50vh;
           } 
    
}