.project {
    background-color: #171729;
    font-family: 'Poppins';
    color: #fff;
  }
  .project h1 {
    font-weight: 700;
    line-height: 2;
    text-align: center;
    }

.project .container-fluid {
    padding: 5% 10%;
    align-content: center;
}

.project .card h1 {
    font-weight: 900;
    text-align: center;
    margin: auto;
}
.project .h6 {
    margin: auto;
}

.project .card-body .h3 {
    font-size: 25rem;
}

.project .card .icons {
    font-size: 1.0rem;
    margin: auto;
}
.project .btn {
    background: teal;
    border:teal;
    border-radius: 30px;
    width: 40%;
    margin-top: 25px;
    margin-right: 25px;
}
.project a {
     text-decoration: none;
     color:grey;
 }

.project a:hover {
     color: #fff;
     text-decoration: underline teal 1px;
 }
.project .aligns {
    text-align: center;
}
.project .web-col {
    padding: 25px;
}


.project .card .btn:hover {
box-shadow: black;
}
.project .card {
    width: 18rem;
    border: 1px solid #fff;
    background-color: #171729;
    text-align: center;
    border-radius: 25px;
}   
.project .card .text{
    text-align: left;
    font-size: 0.7rem;
    line-height: 1;
}

.project .card .text-center{
    text-align: left;
    font-size: 0.7rem;
    line-height: 1;
}

@media screen and (max-width:920px) {
    .project .web-col {
        padding: 35px;
    }
}

