.services {
    background-color: #171729;
    font-family: 'Poppins';
    color: #fff; 
}

  
.services .container-fluid {
    padding: 5% 10%;
}
.services h1 {
    font-weight: 700;
    text-align: center;
}
.services h3 {
    font-weight: 600;
    text-align: center;

}
.services .icon {
    font-size: 25px;
    margin: 12px;
}

.services .just {
    text-align: center;
}

@media screen and (max-width:620px) {
    .services {
  
        height: 50vh;
           }    
}