.services {
    background-color: #171729;
    font-family: 'Poppins';
    color: #fff; 
}

  
.services .container-fluid {
    padding: 5% 18%;


}
.services h1 {
    font-weight: 700;
    text-align: center;
}

.services .web {
    padding: 25px;
align-self: center;
}
.services .cards {
    width: 18rem;
    border: 1px solid #fff;
    background-color: #171729;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
}
.services .cards:hover {
    box-shadow: 0 8px 16px 0 teal;
}
.services h3 {
    font-weight: 600;
    text-align: center;

}
.services .icon {
    font-size: 25px;
    margin: 12px;
}

.services .just {
    text-align: center;
}

@media screen and (max-width:620px) {
    .services .container-fluid {
        padding: 5% 10%;
    
    
    }  
}